.input-group-addon label {
    margin-bottom: 0px;
}
.vector-map {
	height: 350px;
    color: transparent;
}
.jvectormap-container {
    height:100%;
    width:100%;
}
.sortable-placeholder {
    background-color: #fff;
    border: 1px dashed #4e5d9d;
    flex-grow: 0;
}
.cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
    
}
.card {
    margin: 5px;
    background: #FEFEFE;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition-property: background-color, box-shadow, -moz-transform;
    -o-transition-property: background-color, box-shadow, text-shadow, -o-transform;
    -webkit-transition-property: background-color, box-shadow, text-shadow, -webkit-transform;
    transition-property: background-color, box-shadow, text-shadow, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    position: relative;
}
.card-header h4 {
    padding: 10px 15px;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}
.card-header .dropdown {
    position: absolute;
    top: 6px;
    right: 3px;
}
.card-header .dropdown-toggle .fa-ellipsis-v {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.card-header h4 {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card table {
    table-layout: fixed;
}
.card table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card table td:last-child {
    width: 30px;
}
@media (max-width: 700px) {
    .card {
        width: 100% !important;
    }
}
.card:hover, .card:focus {
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 10px 0px;
}
.chart-wrapper {
    position: relative;
}
.legend {
    background: #000;
    opacity: 0;
    position: absolute;
    bottom: -17px;
    width: 100%;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
}
.card:hover .legend {
    opacity: 0.8;
}
.legend ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.legend li {
    margin: 0 10px;
    padding: 5px 0;
}
.legend li span {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-right: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
